.carousel-item {
    height:50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

header {
    display: block;
    justify-content: center;
}

.navbar, main {
    margin: 0 auto;
}
.navbar {    
    background: #083484;
}

.textb{
    color:white;
}
.carousselbg{
    border:solid 0px;
    border-radius: 25px;
}
.buttonbg{
    border:solid 1px;
    border-radius: 25px;
    border-color: white;
}
.buttonbg1{
    border:solid 0px;
    border-radius: 25px;
    background-color: #04a0e0;
    border-color: #04a0e0;
}

body{
    background-color: #f8f4fc;
}
.cardz{
    background-color:rgba(255,255,255,1);
    border-radius: 15px;
}
.line {
    display: flex;
    align-items: center;
}

.line:before,
.line:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 10px;
}
.booking-bar {
    background-color: #feba02;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .booking-bar .btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
    border-radius: 10px;
  }
  .containermt-2main-content {
margin-top: 200px; /* Ajuste a altura conforme necessário */
}
#datepickerContainer {
position: absolute;
z-index: 9999;
display: none;
}
.yellow-box {
background-color: #feba02;
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

.rating {
display: inline-flex;
flex-direction: row-reverse; /* Mudança para inverter a direção */
}

.rating input {
display: none;
}

.rating label {
cursor: pointer;
width: 30px;
height: 30px;
margin: 0;
padding: 0;
font-size: 30px;
line-height: 30px;
text-align: center;
color: #808080; /* Cor da estrela não preenchida (cinza) */
}

.rating label:before {
content: '\2605'; /* Código Unicode para uma estrela sólida */
}

.rating input:checked ~ label,
.rating input:checked ~ label:before,
.rating input:hover ~ label,
.rating input:hover ~ label:before {
color: #FFD700; /* Cor da estrela preenchida (amarela) */
}