header {
    display: block;
    justify-content: center;
}

.navbar, main {
    margin: 0 auto;
}
.navbar {    
    background: #083484;
}

.textb{
    color:white;
}
.carousselbg{
    border:solid 0px;
    border-radius: 25px;
}
.buttonbg{
    border:solid 1px;
    border-radius: 25px;
    border-color: white;
}
.buttonbg1{
    border:solid 0px;
    border-radius: 25px;
    background-color: #04a0e0;
    border-color: #04a0e0;
}

body{
    background-color: #f8f4fc;
}
.cardz{
    background-color:rgba(255,255,255,1);
    border-radius: 15px;
}
