header {
    display: flex;
    justify-content: center;
}

.navbar, main {
    margin: 0 auto;
}
.navbar {    
    background: #083484;
}

.textb{
    color:white;
}
.bb{
    border:solid 1px;
    border-radius: 25px;
}
.bb2{
    border:solid 1px;
    border-radius: 25px;
    background-color: #04a0e0;
    border-color: #04a0e0;
}